<BsModalSimple @title="Add {{this.title}} Entry" @closeTitle="Cancel" @submitTitle="Add Entry" @size={{null}} @fade={{true}} @open={{this.addRenownEntry}} @onSubmit={{action "RenownAddEntry" this.renownName this.renownTitle this.renownPoints this.renownType}} @onHide={{action (mut this.addRenownEntry) false}}>

    <p>Character Name:</p>
       <select onchange={{action (mut this.renownName) value="target.value"}}>
       {{#each this.chars as |charname|}}
           <option value={{charname}}>{{charname}}</option>
       {{/each}}
       </select>
    <Input @type="text" size={{25}} id="renownName" @enter={{action "RenownAddEntry"}} @value={{this.renownName}} />
    <p>Predefined Type (optional):</p>
       <select id="renownType" onchange={{action (mut this.renownPoints) value="target.value"}}>
       {{#each this.types as |typename|}}
           <option value={{typename.points}}>{{typename.type}}</option>
       {{/each}}
       </select>
   
    <p>Reason:</p>
    <Input @type="text" size={{30}} id="renownTitle" @enter={{action "RenownAddEntry"}} @value={{this.renownTitle}} />
    <p>{{this.title}} Points:</p>
    <Input @type="integer" size={{10}} id="renownPoints" @enter={{action "RenownAddEntry"}} @value={{this.renownPoints}} />

 </BsModalSimple>
