<BsModalSimple @title="Reset Renown" @closeTitle="Cancel" @submitTitle="Reset All" @size={{null}} @fade={{true}} @open={{this.resetAllRenown}} @onSubmit={{action "ResetAllRenown"}} @onHide={{action (mut this.resetAllRenown) false}}>

    <p>Are you sure you want to proceed? This action will erase all renown of the current season.</p>

 </BsModalSimple>

